<p>
<h2>New Channel: </h2>

<%= form_for :channel, url: channels_path do |f| %>
  <p>
    <%= f.label :name, "Name: " %><%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :url, "URL: " %><%= f.text_field :url %>
  </p>
 
  <p>
    <%= f.submit "Create Channel", :class => "btn btn-success" %>
  </p>
<% end %>