<!DOCTYPE html>
<html>
  <head>
    <title>Feedpad</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container-fluid">
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </header>
    <% if !current_user %>
    <main role="main">
      <div class="container">
        <div class="content">
           <div class="row">
            <div class="span12">
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>
          </div>
          <footer>
          </footer>
        </div>
      </div>
    </main>
    <% else %>
    <div class="box">
      <div class="row-fluid">
        <div class="column span3">
          <ul class="nav nav-list nav-fixed-sidebar">
          <li class="nav-header">Navigation</li>
          <li class=<%= 'active' if !params[:id] %>><%= link_to "All channels", channels_path %></a></li>
          <li><a href="#">Starred</a></li>
          <li class="divider"></li>
          <li class="nav-header">My Channels</li>
          <% current_user.channels.each do |c| %>
          <% if !c.name.blank? %>
          <li class=<%= 'active' if params[:id] == "#{c.id}" %>><%= link_to "#{c.name} <b>(#{c.articles.unread.count})</b>".html_safe, channel_path(c) %></li>
          <% end %>
          <% end %>
          </ul>
        </div>
        <div class="column span9">
          <%= render 'layouts/messages' %>
          <%= yield %>
        </div>
      </div>
    </div>
    <% end %>
  </body>
</html>
